.thanks-page__header {
  background-color: #2a2a2d;
}

.thanks-page__wrap {
  margin: 0 auto;
  width: 540px;
  max-width: 100%;

  p {
    margin-bottom: 15px;
  }

  @media (min-width: 992px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.thanks-page {
  padding-top: 100px;
}

.title-helper {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.thanks-page__h2 {
  margin-bottom: 30px;
  text-align: left;
}

.square-list {
  margin-bottom: 15px;
  padding-left: 15px;
  list-style-type: square;

  &__item {
    margin-bottom: 10px;
  }
}

.thanks-page__text {
  font-weight: 700;
}

.right-arrow {
  margin-right: 30px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  fill: #65a0b3;
}

.thanks-page__social-icon {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  fill: #65a0b3;

  &:hover {
    fill: #c7a978;
  }
}

.info-box__img {
  margin-top: 15px;
  display: block;
  width: 100%;
  max-width: 540px;

  @media (min-width: 992px) {
    margin: 0 0 0 10px;
    width: 50%;
  }
}
