.gallery {
  padding: 80px 0;
}

.gallery__h2 {
  margin-bottom: 50px;
}

.gallery__title {
  padding-top: 80px;
  margin-bottom: 30px;
}

.l-block {
  margin: 0 auto 80px;
  width: 650px;
  max-width: 100%;
  position: relative;

  @media (min-width: 992px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.l-block__h2 {
  margin-bottom: 15px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: 992px) {
    margin-bottom: 30px;
    text-align: left;

    br {
      display: inline;
    }
  }
}

.l-block__img-wrap {
  &:before {
    content: '';
    margin: 0 5px;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: 20%;
    background-color: #f6f6f6;
    border: 1px solid rgba(42, 42, 45, .2);
    z-index: -1;
  }

  @media (min-width: 992px) {

    &:before {
      top: -20px;
      left: -20px;
      bottom: -20px;
      right: 20%;
    }
  }
}

.title--mb {
  margin-bottom: 30px;
}

.r-block {
  margin: 0 auto;
  width: 650px;
  max-width: 100%;
  position: relative;

  @media (min-width: 992px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.r-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.r-block__h2 {
  margin: 15px 0 15px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: 992px) {
    margin-bottom: 30px;
    text-align: right;

    br {
      display: inline;
    }
  }
}

.r-block__img-wrap {

  &:before {
    content: '';
    margin: 0 5px;
    display: block;
    position: absolute;
    top: 20%;
    right: -10px;
    left: -10px;
    bottom: -10px;
    background-color: #f6f6f6;
    border: 1px solid rgba(42, 42, 45, .2);
    z-index: -1;
  }

  @media (min-width: 992px) {
    &:before {
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: 20%;
    }
  }
}

.r-block__img,
.l-block__img {
  max-width: 100%;
}


