.features {
  padding: 30px 0px 0px;

  @media (min-width: 1140px) {
    padding: 50px 0px;
  }
}

.bg-1 {
  color: white;
  background-color: #2a2a2d;
}

.bg-2 {
  background-color: #f6f6f6;
}

.features__img {
  display: block;
  width: 370px;
  height: auto;
  max-width: 100%;

  @media (min-width: 768px) {
    width: 300px;
    height: 280px;
  }
}

.benefits__block {
  padding: 30px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    height: 260px;
  }

  @media (min-width: 1140px) {
    padding: 60px 30px 60px 50px;
    height: 320px;
  }
}

.benefits__heading {
  @media (min-width: 1140px) {
    text-align: left;
  }
}

.benefits__heading_margin {
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

}

.benefits__item {
  margin: 0px 0px 10px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-right: 12px;
    display: block;
    flex: 0 0 12px;
    height: 4px;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.benefits__item--before-color-1 {
  &:before {
    background-color: #c7a978;
  }
}

.benefits__item--before-color-2 {
  &:before {
    background-color: #65a0b3;
  }
}

.benefits__item:last-child {
  margin-bottom: 0px;
}

.features__item_margin_bottom {
  @media (min-width: 768px) {
    margin-bottom: -20px;
  }

  @media (min-width: 1140px) {
    margin-bottom: -40px;
  }
}

.features__img_more-size {
  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: 1140px) {
    width: 458px;
    height: 400px
  }
}

@media (min-width: 768px) {

  .features__item {
    display: flex;
  }
  .features__item_row-reverse {
    margin-bottom: -20px;
    flex-direction: row-reverse;
    align-items: center;
  }

  .features__item_row {
    margin-bottom: -20px;
    flex-direction: row;
    align-items: center;
  }

  .features__item_bottom {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}

@media (min-width: 1140px) {
  .features__item_row-reverse,
  .features__item_row {
    margin-bottom: -40px;
  }

  .benefits__heading_margin {
    margin-bottom: 30px;
  }

  .features__img_less-size {
    width: 458px;
    height: 360px;
  }

  .benefits__heading_margin {
    margin-bottom: 30px;
  }

  .features__img_less-size {
    width: 458px;
    height: 360px;
  }

  // .documents__img {
  //     width: 300px;
  //     height: 300px;
  // }

}
