.footer {
  padding: 50px 0;
  background-color: #2a2a2d;
}

.footer__wrap {

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  margin: 0 auto 30px;
  display: block;
  width: 250px;
  max-width: 100%;

  @media (min-width: 768px) {
    margin: 0px;
  }
}

.footer__contacts {
  margin: 0px auto 30px;

  @media (min-width: 768px) {
    margin: 0px;
    order: 3;
  }
}

.contacts__list {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.footer__contacts-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__link--font-size {
  font-size: 18px;
}

.footer__social {
  margin: 0 auto;
  width: 100px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    margin: 0px;
  }
}

// Social List Start
.social-list {
  margin: 0 auto;
  width: 90px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.social-icon {
  width: 30px;
  flex: 0 0 30px;
  height: 30px;
  fill: #FFFFFF;
  max-width: 100%;

  &:hover {
    fill: #65a0b3;
  }
}

// Social List End
