.infrastructure {
  padding-top: 80px;
}

.infrastructure__h2 {
  margin-bottom: 50px;
}

.infrastructure-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    padding-top: 0;
    flex-direction: column;
  }
}

.item {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  background-color: #2a2a2d;

  &:last-child {

    @media (max-width: 992px) {
      margin-bottom: 0;
    }
  }

  &:nth-child(even) {
    background-color: #f6f6f6;

    @media (max-width: 992px) {
      margin-top: 0;
    }
  }

  @media (max-width: 992px) {
    margin: 0 0 30px;

  }

  @media (min-width: 992px) {
    width: 19%;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;

      .info {
        background-color: #65a0b3;
      }

      .infrastructure__icon {
        fill: white;
      }

      .info__title {
        color: white;
      }
    }
  }
}

.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid white;
  }

  figure {
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
      transition: transform ease 0.3s;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  //&:before {
  //  content: '';
  //  display: block;
  //  width: 24px;
  //  height: 24px;
  //  position: absolute;
  //  right: 5px;
  //  bottom: 5px;
  //  background-image: url("/images/click.png");
  //}
}

.infrastructure__icon {
  width: 24px;
  flex: 0 0 24px;
  height: 24px;
  fill: #65a0b3;
  position: absolute;
  right: 5px;
  bottom: 2px;
  z-index: 1;
}

.info {
  //padding-top: 25px;
  padding: 25px 0;
  text-transform: uppercase;
  //width: 300px;
  font-size: 20px;
  position: relative;

  //&:before {
  //  content: '';
  //  display: block;
  //  width: 24px;
  //  height: 24px;
  //  position: absolute;
  //  right: 5px;
  //  bottom: 2px;
  //  background-image: url("/images/click.png");
  //}

  @media (min-width: 992px) {
    padding: 15px 0;
  }
}

.info__title {
  color: white;
}

.info__title--color {
  color: #000000;
}

.modal-infrastructure.modal-open {
  display: flex;
  align-items: center;
}

.modal-infrastructure {
  padding: 70px 0;
  display: none;
  height: 100%;
  font-size: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(246, 246, 246, .98);
  z-index: 1000;
  overflow-y: auto;
}

.modal-infrastructure__content {
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  text-align: center;
  background-image: url("/images/dots-dark.png");
  background-color: #2a2a2d;

  h3 {
    color: #FFFFFF;
  }

  @media (min-width: 768px) {
    width: 80%;
  }
}

.modal-infrastructure__list {

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  }

.modal-infrastructure__item {

  @media (min-width: 768px) {
    width: 48%;
  }
}

.modal-infrastructure__heading {
  margin-bottom: 15px;
}

.modal-infrastructure__img {
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #FFFFFF;
}

.plans__tech-info {
  margin-bottom: 25px;
  color: #FFFFFF;
}
