.slider-control {
  //position: absolute;
  font-size: 0;
  width: 18px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:focus {
    outline: none;
  }
}

.slider-prev {
  left: 10px;
  background: url('/images/slider-prev.png') 0 0 / 100% no-repeat;
  z-index: 1;

  //@media (min-width: 768px) {
  //  left: 30%;
  //}

  &:focus {
    outline: none;
  }
}

.slider-next {
  right: 10px;
  background: url('/images/slider-next.png') 0 0 / 100% no-repeat;

  //@media (min-width: 768px) {
  //  right: 30%;
  //}

  &:focus {
    outline: none;
  }
}

// Dots Settings Start
.dots-style {
  margin: 30px 0 0;
  padding: 0px;
  width: 250px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.dots-style button {
  width: 10px;
  flex: 0 0 10px;
  height: 10px;
  font-size: 0px;
  cursor: pointer;
  border: none;
  outline: none;
}

.dots-style button {
  background-color: #ffffff;
}

.dots-style li[class='slick-active'] button {
  background: red;
}
// Dots Settings End

.gallery-slider {

  &:focus {
    outline: none;
  }
}

.gallery-slider__item {
  margin: 0 10px 10px;
  max-width: 100%;
  position: relative;

  &:focus {
    outline: none;
  }

  //&:before {
  //  content: '';
  //  display: block;
  //  width: 60px;
  //  height: 59px;
  //  position: absolute;
  //  left: -5px;
  //  bottom: -5px;
  //  background-image: url("/images/building/triangle.png");
  //}

  @media (min-width: 992px) {
    width: 960px;
  }
}

.building-progress-slider__img-lg {
  &:focus {
    outline: none;
  }
}

.gallery-slider__img {
  display: block;
  max-width: 100%;

  &:focus {
    outline: none;
  }
}
